@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


:root{
    --header-color1 :#10B981;
    --header-color2 :#064E3B;
}

body{
    /* background-color: aqua; */
    margin: 0px;
    padding: 0px;
    font-family: 'Courgette', cursive;
}


header{
    background-color: var(--header-color1);
    margin: auto;
    max-width: 75%;
    padding: 1.5rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    text-align: center;
    font-size: xx-large;
}

.txt{
    padding: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    /* max-width: 100%; */
}

#text{
   margin: 0.5rem;
   padding :2rem;
    height: 15vh;
}

.button{
 margin: 0.5rem;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 /* padding: 2rem; */
}

#btn{
  /* margin: 0.5rem; */
  padding: 0.5rem 1rem;
  background-color: var(--header-color1);
  color: var(--header-color2);
  font-family: 'Courgette', cursive;
  letter-spacing: 0.3rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border-color: var(--header-color2);
}

.ans{
    position: relative;
    width: 100%;
    height: 35vh;
    background-color: rgb(255, 255, 255);
}

#left{
    position: absolute;
    width: 40%;
    height: 20vh;
    left: 0;
    border: black solid 0.1rem;
    margin: 2rem 0.5rem;
    padding: 0.5rem;
}



#right{
    position: absolute;
    width: 40%;
    height: 20vh;
    right:0;
    border: black solid 0.1rem;
    margin: 2rem 0.5rem;
    padding: 0.5rem;
}

.footer{
    background-color: var(--header-color1);
   padding: 1.5rem 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: white;
    margin-top: 2rem;
}

a{
    text-decoration: solid;
}

.fa{
    padding: 0.3rem 1rem;
    text-decoration: none;
    color: var(--header-color2);
}